.DS_Store
Artificien/Artificien.xcodeproj/project.xcworkspace/xcuserdata/shreyas.xcuserdatad/UserInterfaceState.xcuserstate
Artificien/Artificien.xcworkspace/xcuserdata/shreyas.xcuserdatad/UserInterfaceState.xcuserstate
Artificien/Pods/
